---
layout: site
---

  <div class="row vspace10">
    <div class="col-md-10">
      <h2 class="center">{{page.title}}</h2>
    <div>
  {{content}}
  </div>
</div>
<div class="col-md-2">
  <h2 class="center">Contents</h2>
  <div>
    <ul class="nav ">
      <li>        <a href="01_index.html">Introduction</a>      </li>
      <li>        <a href="02_architecture.html">Architecture</a>      </li>
      <li>        <a href="03_models.html">Models</a>      </li>
      <li>        <a href="04_searches.html">Searches</a>      </li>
      <li>        <a href="05_editing.html">Editing</a>      </li>
      <li>        <a href="06_extensions.html">Extensions</a>      </li>
      <li>        <a href="07_testing.html">Testing</a>      </li>
      <li>        <a href="08_installation.html">Installation</a>      </li>
    </ul>
  </div>
</div>
