<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/assets/css/favicon.ico" type="image/x-icon"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,500,700" rel="stylesheet" type="text/css">
    <link rel="icon" href="/assets/css/favicon.ico" type="image/x-icon" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <!-- Included Bootstrap Customization CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap-extension.css" />
    <link rel="stylesheet" href="/assets/css/carousel-custom-01.css" />
    <!-- Website CSS Theme Css -->
    <link rel="stylesheet" href="/assets/css/stylesheet.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    		<span class="sr-only">Toggle navigation</span>
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    		</button>
    	</div>
    	<div class="collapse navbar-collapse">
    		<ul class="nav navbar-nav">
          <li class="link1">	<a href="/index.html">Home</a> </li>
          <li class="link2">	<a href="/features.html">Features</a> </li>
          <li class="link3">	<a href="/user_guide/01_index.html">User Guide</a> </li>
          <li class="link3">	<a href="/developer_guide/01_index.html">Developer Guide</a> </li>
          <li class="link4">	<a href="/about.html">About Us</a> </li>
          <li class="link5">	<a href="{{site.posts.first.url}}">News</a> </li>
    		</ul>
        <a href="https://github.com/rubyclerks/">
          <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" class="img-responsive" />
          </a>
      </div>
  	</div>
  </nav>


  <div class="content">
      <div class="container theme">
        {{content}}
      </div>
  </div>
  <footer id="footer">
    <div id="post-footer">
      <div class="container">
        <div class="row center">
          <div class="col-md-12">
            <div class="vspace10">
                <p>© Copyright 2013/14.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltotop" href="#"></a>
</body>

</html>