---
layout: site
---

  <div class="row vspace10">
    <div class="col-md-10">
      <h2 class="center">{{page.title}}</h2>
    <div>
  {{content}}
  </div>
</div>
<div class="col-md-2">
  <h2 class="center">Contents</h2>
  <div>
    <ul class="nav ">
      <li>        <a href="01_index.html">Introduction</a>      </li>
      <li>        <a href="02_baskets.html">Baskets and Pos</a>      </li>
      <li>        <a href="03_orders.html">Orders</a>      </li>
      <li>        <a href="04_purchases.html">Purchases</a>      </li>
      <li>        <a href="05_products.html">Products</a>      </li>
      <li>        <a href="06_product_lines.html">Product Lines</a>      </li>
      <li>        <a href="07_suppliers.html">Suppliers</a>      </li>
      <li>        <a href="08_categories.html">Categories</a>      </li>
      <li>        <a href="11_shop.html">Shop</a>      </li>
    </ul>
  </div>
</div>
